.emailbox{
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 999px;
    /* will make this box with left and right side radius 999 which means crcle */
    display: flex;
    align-items: center;
    width: 70%;
     /* emailbox should have 70% of right container */
    position: relative;
    overflow: hidden;
}
.emailbox>input{
    outline: none;
    /* so that we dont see black border on clicking on input */
    border: none;
    margin-left: 1rem;
    font-size: 1rem;
    color: rgb(151, 151, 151);
    font-family: '__Josefin_Sans_584c1b', '__Josefin_Sans_Fallback_584c1b';
    flex: 1;
    /* it should contain max widht of our emailbox */
}
.emailbox>input::placeholder{
    font: size 0.8rem;
}
.getfund{
    position: absolute;
    /* this button will be pos absolute wrt to emailbox */
    right: 0.5rem;
    /* it would have 0.5 rem dist from emailbox */
    height: 80%;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 2rem;
    border-radius: 999px;
    color: white;
    text-transform: uppercase;
}